<app-servicehandler></app-servicehandler>
<div class="table-container">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr *ngFor="let ticket of tickets">-->
<!--      <td>{{ ticket.id }}</td>-->
<!--      <td>{{ ticket.title }}</td>-->
<!--      <td>{{ ticket.description }}</td>-->
<!--      <td>{{ ticket.status }}</td>-->
<!--    </tr>-->
    </tbody>
  </table>
</div>
